/* Place your CSS styles in this file */
* {
  box-sizing: border-box;
}
@font-face{
	font-family: 'W95FA';
	src: url(H://eportfolio1/W95FA/w95fa.woff);
}
@font-face{
	font-family: 'W95FAbold';
	src: url(H://eportfolio1/W95FA/w95fa.woff);
	text-shadow: 0.5px 0px white, 1.5px 0px white; 
	color: transparent; 
	letter-spacing: 1px;
}
html{
	height: 100%;
	width: 100%;
}
body{
	background-color: #208c71;
	height: 100%;
	width: 100%;
	margin: 0px;
	font-family: 'W95FA';
	font-size: 11px; 
	color: #000000;
	overflow: hidden;
}
.desktop{
	overflow: hidden;
	padding: 0px 4px;
}
.shortcut{
	height: 64px;
	width: 64px;
}
h2{
	font-size: 10px;
	max-width: 64px;
	width: max-content;
	margin: 0 auto;
}
img {
	height: 32px;
	width: 32px;
	margin: 0px 16px;
}
img:hover{
	cursor: pointer;
}
h3{
	margin: 0px;
	padding: 4px;
	color: #ffffff;
	font-size: 12px;
	width: 100%;
	display: inline-block;
	background-color: #010080;
}
	.header {
		position: absolute;
		display: none;
		width: 40em;
		border-top: 1.5px solid #fcfcfc;
		border-left: 1.5px solid #fcfcfc;
		border-right: 1.5px solid #141414;
		border-bottom: 1.5px solid #141414;
		z-index: 1;
	}
	h3:hover{
		cursor: move;
	}
.page {
		display: block;
		padding: 4px 8px;
		font-size: 16px;
		width: 100%;
		background-color: #c0c0c0;
		color: #000000;
		border-left: none;
		border-right: none;
		border-bottom: none;
		height: 20em;
		overflow-x: none;
	}
	page:hover{
		cursor: default;
	}
	p{
		border-top: 1.5px solid #fcfcfc;
		border-left: 1.5px solid #fcfcfc;
		border-right: 1.5px solid #141414;
		border-bottom: 1.5px solid #141414;
		margin: -2px auto;
		padding: 16px;
		max-height: 18em;
		overflow: hidden auto;
	}
	button {
		color: #000000;
		font-family: 'W95FA';
		border: 1.5px solid #fcfcfc;
		border-right: 1.5px solid #141414;
		border-bottom: none;
		border-radius: 3px 3px 0px 0px;
		background-color: #c0c0c0;
		padding: 2px 6px;
		margin-right: -4px;
	}

	button:hover {
		background-color: #c0c0c0;
		cursor: pointer;
	}
	.translate{
		border-radius: 0px;
		border-bottom: 1.5px solid #141414;
		float: right;
	}
	.active {
		background-color: #c0c0c0;
		border-bottom: 1.5px solid #c0c0c0;
	}
	.collapse {
		display: none;
	}
	.close-bt{
		float: right;
		margin: 2px;
		border: 1.5px solid #fcfcfc;
		border-bottom: 1.5px solid #141414;
		border-right: 1.5px solid #141414;
		border-radius: 0px;
		font-size: 9px;
		padding: 1px 2px;
	}
	.taskbar{
		width: 100%;
		height: 3em;
		background-color: #c0c0c0;
		position: absolute;
		bottom: 0;
		border-top: 1.5px solid #fcfcfc;
		z-index: 5000;
	}
	.start{
		float: left;
		margin-left: 0px;
		margin-right: 8px;
		height: 18px;
		width: 18px;
	}
	.start-button{
		border-bottom: 1.5px solid #141414;
		font-size: 1.2em;
		font-family: 'W95FAbold';
		margin: 2px;
		height: 28px;
		line-height: 2em;
	}
	.time{
		float: right;
		border-top: 1.5px solid #141414;
		border-left: 1.5px solid #141414;
		border-right: 1.5px solid #fcfcfc;
		border-bottom: 1.5px solid #fcfcfc;
		margin: 2px;
		border-radius: 0px;
		padding: 4px;
		height: 26px;
		font-size: 1.2em;
		font-family: 'W95FAbold';
		line-height: 1.5em;
		overflow: hidden;
		text-align: center;
		width: 6em;
	}